@import '@vue-flow/core/dist/style.css';
@import '@vue-flow/core/dist/theme-default.css';

body {
  background-color: #ccc;
}

.custom-border-node:after {
  content: '';
  position: absolute;
  top: 17px;
  left: 17px;
  width: 70%;
  height: 70%;
  border: 1px solid #10b981;
  transform: rotate(45deg);
  background-color: #e5de00;
  z-index: -1;
}

.vue-flow__node-default {
  background: transparent;
}

.vue-flow__node-default.selectable:hover {
  box-shadow: none;
}
